org.apache.stanbol.enhancer.engines.entitytagging.placeType="dbp-ont:Place"
org.apache.stanbol.enhancer.engines.entitytagging.referencedSiteId="dbpedia"
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.engine.entitytagging-0.10.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.entitytagging.placeState=B"true"
service.factoryPid="org.apache.stanbol.enhancer.engines.entitytagging.impl.NamedEntityTaggingEngine"
service.pid="org.apache.stanbol.enhancer.engines.entitytagging.impl.NamedEntityTaggingEngine.278a2c1f-d33d-4515-93cd-c9b6406d7776"
stanbol.enhancer.engine.name="dbpediaLinking"
org.apache.stanbol.enhancer.engines.entitytagging.organisationType="dbp-ont:Organisation"
org.apache.stanbol.enhancer.engines.entitytagging.nameField="rdfs:label"
org.apache.stanbol.enhancer.engines.entitytagging.organisationState=B"true"
org.apache.stanbol.enhancer.engines.entitytagging.personState=B"true"
org.apache.stanbol.enhancer.engines.entitytagging.personType="dbp-ont:Person"
