org.apache.sling.commons.log.LogManager.factory.config="slinginstall:org.apache.sling.commons.log-3.0.0.jar"
org.apache.sling.commons.log.LogManager.factory.config.6c87ab9e-bba6-43fc-85d9-3d09cceeb11f="slinginstall:org.apache.sling.commons.log-3.0.0.jar"
org.apache.sling.commons.log.LogManager.factory.writer="slinginstall:org.apache.sling.commons.log-3.0.0.jar"
org.apache.felix.eventadmin.impl.EventAdmin="slinginstall:org.apache.felix.eventadmin-1.2.14.jar"
