service.bundleLocation="slinginstall:org.apache.stanbol.commons.solr.managed-0.12.0-SNAPSHOT.jar"
service.pid="org.apache.stanbol.commons.solr.managed.impl.ManagedSolrServerImpl.b424e650-83c1-4d42-b855-5da0da142daa"
service.ranking=I"2147483647"
org.apache.solr.core.CoreContainer.name="default"
org.apache.solr.core.CoreContainer.publishREST=B"true"
service.factoryPid="org.apache.stanbol.commons.solr.managed.impl.ManagedSolrServerImpl"
