enhancer.engines.linking.minTokenScore="0.75"
enhancer.engines.linking.dereference=B"true"
service.ranking=I"0"
service.factoryPid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine"
enhancer.engines.linking.processedLanguages=["*;lmmtip;uc\=LINK;prop\=0.75;pprob\=0.75","de;uc\=MATCH"]
enhancer.engines.linking.caseSensitive=B"true"
enhancer.engines.linking.properNounsState=B"false"
enhancer.engines.linking.typeField="rdf:type"
enhancer.engines.linking.labelField="rdfs:label"
service.pid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.806515b7-bba5-400f-8af1-7bacb49d98a3"
enhancer.engines.linking.minSearchTokenLength=I"3"
enhancer.engines.linking.redirectField="rdfs:seeAlso"
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.engines.entityhublinking-0.10.1-SNAPSHOT.jar"
enhancer.engines.linking.typeMappings=[""]
enhancer.engines.linking.redirectMode="IGNORE"
enhancer.engines.linking.entityhub.siteId="entityhub"
stanbol.enhancer.engine.name="entityhubExtraction"
enhancer.engines.linking.defaultMatchingLanguage=""
enhancer.engines.linking.suggestions=I"3"
