enhancer.engines.linking.labelField="rdfs:label"
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.engines.entityhublinking-0.10.1-SNAPSHOT.jar"
enhancer.engines.linking.caseSensitive=B"true"
service.factoryPid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine"
service.pid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.c34ea468-0d85-46cf-bef9-229c44c16763"
.8\nenhancer.engines.linking.suggestions=I"3"
enhancer.engines.linking.properNounsState=B"true"
enhancer.engines.linking.dereference=B"true"
enhancer.engines.linking.redirectField="rdfs:seeAlso"
enhancer.engines.linking.defaultMatchingLanguage="en"
stanbol.enhancer.engine.name="dbpedia-proper-noun-extraction"
enhancer.engines.linking.entityhub.siteId="dbpedia"
enhancer.engines.linking.typeField="rdf:type"
enhancer.engines.linking.minSearchTokenLength=I"3"
enhancer.engines.linking.typeMappings=[""]
service.ranking=I"0"
enhancer.engines.linking.processedLanguages=["*;lmmtip;uc\=LINK;prop\=0.75;pprob\=0.75","de;uc\=MATCH","es;lc\=Noun","nl;lc\=Noun"]
enhancer.engines.linking.redirectMode="FOLLOW"
