factory.pid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine"
factory.pidList=["org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.806515b7-bba5-400f-8af1-7bacb49d98a3","org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.b959a714-00f4-4d3c-a264-8fdc7388cdf2","org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.c34ea468-0d85-46cf-bef9-229c44c16763"]
