service.bundleLocation="slinginstall:org.apache.stanbol.entityhub.core-0.12.0-SNAPSHOT.jar"
service.pid="org.apache.stanbol.entityhub.core.site.CacheImpl.c587f522-0e93-48c2-9aa6-57b76530f4ff"
org.apache.stanbol.entityhub.yard.name="dbpedia\ Cache"
org.apache.stanbol.entityhub.yard.cacheYardId="dbpediaIndex"
service.factoryPid="org.apache.stanbol.entityhub.core.site.CacheImpl"
org.apache.stanbol.entityhub.yard.id="dbpediaDefaultdataIndex"
org.apache.stanbol.entityhub.yard.description="Cache\ for\ the\ dbpedia\ Referenced\ Site\ using\ the\ dbpediaIndex."
