/* New for admin stuff, as of 09-26-2013, spr */
.adminContentArea {
	margin-top:15px;
}


/* New, for comments, as of 03-16-2013, spr */

.commentBoxWrapper {
	padding-top: 5px;
	padding-left: 7px;
	background-color:#F8F8F8;	
}

.commentsArea {
	display: none;
	
}

.individualCommentBox {
	margin-top:15px;
}

.commentUserName {
	
}

.commentDateTime {
	
}

.commentText{
	
}

.addCommentForm {
	margin-top:15px;
	
}

.submitCommentBtn {
	
}

.cancelCommentBtn {
	
}

.addCommentTextInput {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	padding-right:4px;
	height:35px;
	font-size: 13px;
	line-height: 1.4;
	word-wrap: break-word;
	background: none repeat scroll 0% 0% transparent;
	position: relative;
	/* min-height: 3.9em; */	
	vertical-align: baseline;
}

/* for the event footer stuff. +1 link, share link, etc. */

.plusOneButton {
	
}

.shareButton {
	
}

.showHideCommentsButton {
	
}

/* some stuff for events in the Activity Stream */
.aseTitleBarUserLink {
	font-size: 11pt;	
}

.aseTitleBarUserLink a:link {
	text-decoration:none;

}

.aseTitleBarUserLink a:visited {
	text-decoration:none;
}

.aseTitleBarUserLink a:hover {
	text-decoration:underline;
}

.aseTitleBarUserLink a:active {
	text-decoration:underline;
}


.aseTitleBarPermalink {
	margin-left:37px;
	font-size: 10pt;
	color: gray;
}

.aseTitleBarPermalink a:link {
	text-decoration:none;
	color: gray;
}

.aseTitleBarPermalink a:visited {
	text-decoration:none;
	color: goldenrod;
}

.aseTitleBarPermalink a:hover {
	text-decoration:underline;
	color: gray;
}

.aseTitleBarPermalink a:active {
	text-decoration:underline;
	color: gray;
}
