/* theme */

body {overflow-x: hidden; overflow-y:auto;}

body, #header {
	background: #e0e1e3 url('../images/theme/bg.png') repeat; 
}

.headerNavContainer {
	background: #04324c url('../images/theme/header_bg.jpg') repeat;
	height: 55px;
	padding: 10px 0 0 0;
}

.headerNav {
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
}

.headerNav ul.customNav {
	list-style-type: none;
	color: #fefefe;
}

.headerNav ul.customNav h1 a {
	position:relative;
	top: -10px;
}
.headerNav ul.customNav h1 a:hover {
	text-decoration: none;
}

.settingsNav a, .settingsNav a:hover,
.headerNav ul.customNav h1,
.headerNav ul.customNav a {
	color: #fefefe;
}

.settingsNav {
	float:right;
}

.usertext {
 color:gray;
 padding-left:5px;
 padding-right:5px;
 display:inline-block;
}

ul.menu li{display:inline;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0 .5em 0 0;}

#header {
	padding-top: 1px;
	font-size:14pt;
	font-weight: bold;
	height: 87px;
}

#body {
	margin: auto;
	padding: 1em;
	min-width: 900px;
	max-width: 1140px;
}

.leftContentNav {
	float: left; width: 260px; margin-right: 30px;
}	

.leftContentNav .hero-unit {
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 30px;
    width: 200px;
}
	
.leftContentNav .hero-unit h3 span {
	font-size:11px; display:block;
}

.leftContentNav .hero-unit img {
	border: solid 10px #fefefe; margin-bottom: 6px; width: 180px; height: 150px;
}

.leftContentNav .hero-unit ul {
	margin-left:16px; margin-bottom:24px;
}

.leftContentNav .hero-unit p a.btn {
	width: auto;
}

.btn.manageStreams {
    float: right;
    margin-right: -12px;
    margin-top: -26px;
}

.btn.manageStreams i {
	font-size: 16px;
}
#updateStatusForm:before, #updateStatusForm:after {content:" "; clear:both; display:block; }
#updateStatusForm {
	clear:both;
}
	
#statusText {
	width:750px;
	padding:18px;
	margin: 8px 0;
}
	
#searchBtn {
}

#updateStatusSubmit {
	margin-left: 22px;
}

#gbw ul {
	list-style-type:none;
}

#gbw ul.customNav li {
	float: left;
	margin:10px;
	font-size:14px;
	display:block;
}

.topLevel > li,
.customNav ul > li {
	margin: 10px;
	font-size:14px;
	display:block;
	float:left;
}

#bodyContent {
	width: auto;
	float:left;
}


.searchBoxContainer {width:286px; margin-top:-3px; float:left;}
.searchBoxContainer input {padding:12px;}
.searchBoxContainer .btn-group {float: right; position: relative; left: -14px;}
.searchBoxContainer .btn-group button {    font-size: 11px; margin-top: -4px !important; left:-6px; padding: 4px 6px; }


.aseWrapper {
	padding-top: 10px;
    // border-top: 5px solid #E2ECFC;
    border-bottom: 2px solid #E2ECFC;
}

.activityStreamEntry {
	margin-left:100px;
	text-align:left;	
}

.aseTitleBar {
	margin-bottom:10px;
}

.aseAvatarBlock {
	float:left; 
	width:100px;
}

.aseClear {
	clear:both;
}

.aseFooter {
	margin-left: 100px;
	margin-top: 20px;
	padding-bottom: 4px;
}



#messageCount {
	margin-top:20px;
}

#activityStream {
	margin-top:15px;
	border-top: 1px solid black;

}

#footer {clear:both;}
