/* theme */

body {overflow-x: hidden; overflow-y:auto;}

body, #header {
	background: #e0e1e3 url('../images/theme/bg.png') repeat; 
}

.headerNavContainer {
	background: #04324c url('../images/theme/header_bg.jpg') repeat;
	height: 50px;
}

.headerNav {
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
}

.headerNav ul.customNav {
	list-style-type: none;
	color: #fefefe;
}

.headerNav ul.customNav h1 a {
	position:relative;
	top: -10px;
}
.headerNav ul.customNav h1 a:hover {
	text-decoration: none;
}

.settingsNav a, .settingsNav a:hover,
.headerNav ul.customNav h1,
.headerNav ul.customNav a {
	color: #fefefe;
}

.headerNav ul.customNav li {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:200;
	font-size:12px;
}

.settingsNav {
	float:right;
}

.usertext {
 color:gray;
 padding-left:5px;
 padding-right:5px;
 display:inline-block;
}

ul.menu li{display:inline;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0 .5em 0 0;}

#header {
	padding-top: 1px;
	font-size:12px;
	font-weight: bold;
	height: 87px;
}

.leftContentNav .hero-unit {
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 30px;
}
	
.leftContentNav .hero-unit h3 span {
	font-size:11px; display:block;
}

.leftContentNav .hero-unit img {
	border: solid 10px #fefefe; margin-bottom: 6px; width: 180px; height: 150px;
}

.leftContentNav .hero-unit ul {
	margin-left:16px; margin-bottom:24px;
}

.leftContentNav .hero-unit p a.btn {
	width: auto;
	display:inline-block;
}

.btn.manageStreams {
    float: right;
    margin-right: -12px;
    margin-top: -26px;
}

.btn.manageStreams i {
	font-size: 16px;
}
#updateStatusForm:before, #updateStatusForm:after {content:" "; clear:both; display:block; }
#updateStatusForm {
	clear:both;
}
	
#statusText {
	margin: 8px 0;
	height:36px
	line-height: 36px;
}
	
#searchBtn {
}

#updateStatusSubmit {
	margin-left: 22px;
	float:right;
	margin-top: 6px;
}

#gbw ul {
	list-style-type:none;
}

#gbw ul.customNav li {
	float: left;
	margin:10px;
	font-size:12px;
	display:block;
}

.topLevel > li,
.customNav ul > li {
	margin: 10px 0px;
	font-size:12px;
	display:block;
	float:left;
	font-weight: 200;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.searchBoxContainer {width:280px;}
.searchBoxContainer input {padding:12px; height:24px !important;}
.searchBoxContainer .btn-group {float: right; position: relative; left: -14px;}
.searchBoxContainer .btn-group button { font-size: 11px; margin-top: -5px !important; left:-6px; padding: 4px 6px; }


.aseWrapper {
	padding-top: 10px;
    // border-top: 5px solid #E2ECFC;
    border-bottom: 2px solid #E2ECFC;
}

.activityStreamEntry {
	margin-left:100px;
	text-align:left;	
}

.aseTitleBar {
	margin-bottom:10px;
}

.aseAvatarBlock {
	float:left; 
	width:100px;
}

.aseClear {
	clear:both;
}

.aseFooter {
	margin-left: 100px;
	margin-top: 20px;
	padding-bottom: 4px;
	background-color: Gainsboro;
}



#messageCount {
	margin-top:20px;
}

#activityStream {
  border-left: medium none;
  border-top: 1px solid #CCCCCC;
  margin: 2em;
}

#footer {clear:both;}

/* login form */
form.login input {
	height:36px;
	margin-left:0px;
}

form.login dd {
	margin-left: 0px;
}

form.login label {
	margin-bottom:12px;
}

/* stream, list pages, etc */

.listView .hero-unit {
	padding:32px 10px 0px 10px;
}

.listView .hero-unit:after {
	clear:both;
}

.listView .hero-unit .btn {
	font-size: 16px;
  font-weight: 200;
  margin-bottom: -24px;
  padding: 16px;
  position: relative;
  top: -68px;
	float:right;
}

input[type="text"] {height:24px;}

.clear {clear:both; height:1%;}

form#profileForm input {
	width: 272px;
}	 

form#profileForm textarea {width: 272px; height:86px !important;}

form#profileForm h2 {float:left;}
#profileForm .dateRow b {clear:both; margin-bottom:12px; font-weight:200; display:block; font-size:14px;}
.currentPhoto {margin-top:-32px; float:right; width: 216px;}
#profileForm .left {margin-top: 3px; margin-bottom:3px; float:left; margin-left:0px; width:310px;}
#profileForm .right {margin-top: 3px; margin-bottom:3px; float:right; margin-left:0px; width:310px;}
#profileForm .dateRow .span1 {float:left; width: 86px; margin-left:0px; margin-right:6px;}
#profileForm .dateRow .span1 select {width: 86px !important;}
#profileform .btn {width: auto; display:inline-block; text-transform: capitalize;}

.employmentContainer, .contactContainer {width: 100% !important; clear:both; }
.contactAddressPosition > * {
		display: block;
    float: left;
    height: 32px !important;
    margin: 6px 6px 6px 0;
    width: auto !important;}

#educationHistory .yearInput, #educationHistory select,
#employmentHistory .yearInput, 
#employmentHistory select {
		float: left;
    height: 32px;
    margin: 0 6px 0 0;
    width: 126px;} 

#employmentHistory div {margin-top:1em;}
#employmentHistory span {margin:6px; display:block; float:left;}
#educationHistory span {margin:6px; display:block; float:left;}
#employmentHistory fieldset div:nth-child(1), #employmentHistory fieldset div:nth-child(2),
#educationHistory fieldset div:nth-child(1), #educationHistory fieldset div:nth-child(2) {float: left; width: 272px;}

#employmentHistory fieldset div:nth-child(1) input, #employmentHistory fieldset div:nth-child(2) input,
#educationHistory fieldset div:nth-child(1) input, #educationHistory fieldset div:nth-child(2) input 
 {width: 262px !important;}
#employmentHistory fieldset div:nth-child(3), 
#employmentHistory fieldset div:nth-child(4), 
#employmentHistory fieldset div:nth-child(5), 
#employmentHistory fieldset div:nth-child(3) > *, 
#employmentHistory fieldset div:nth-child(4) > *,
#employmentHistory fieldset div:nth-child(5) > *,
{float:left; width:25%;}

#educationBtn, #employmentBtn {
	clear: both;
  margin-top: 3em;
}

.contactBtn {font-size: 12px !important;
    height: 18px !important;
    margin-left: 290px !important;
    padding: 6px 12px !important;
		top: -38px;
		position:relative;
}

label#educationHistoryLabel,
label#employmentHistoryLabel {
	clear: both;
  display: block;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 12px;
	padding-top:24px;
}

.saveFooter {clear:both; margin-top: 3em; text-align: center;}
