stanbol.enhancer.chain.weighted.chain=["tika;optional","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-chunker","dbpedia-disamb-linking","disambiguation-mlt"]
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.chain.weighted-0.11.0-SNAPSHOT.jar"
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.19b728c8-e7bd-4bdc-b169-89b4ab23ff1a"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
stanbol.enhancer.chain.name="dbpedia-disambiguation"
