stanbol.enhancer.chain.weighted.chain=["tika;optional","langdetect"]
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.chain.weighted-0.11.0-SNAPSHOT.jar"
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.bf490f9b-b21a-4fd9-bd21-04fa36eb4740"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
stanbol.enhancer.chain.name="language"
