factory.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
factory.pidList=["org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.19b728c8-e7bd-4bdc-b169-89b4ab23ff1a","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.f56082d5-f23d-4953-882c-e4ed132f5d6b","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.da86963f-63ea-4618-8d83-ebbdfde4323d","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.37d22610-8f51-4171-8407-cad5a46335d7","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.bf490f9b-b21a-4fd9-bd21-04fa36eb4740"]
