org.apache.stanbol.entityhub.yard.description="Local\ index\ for\ the\ Referenced\ Site\ \"dbpedia\"."
service.bundleLocation="slinginstall:org.apache.stanbol.entityhub.yard.solr-0.12.0-SNAPSHOT.jar"
org.apache.stanbol.entityhub.yard.name="dbpedia\ default\ data\ index"
org.apache.stanbol.entityhub.yard.solr.documentBoost="http://www.iks-project.eu/ontology/rick/model/entityRank"
service.pid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.469f60c3-d58f-45d9-8830-6ad54c344426"
org.apache.stanbol.entityhub.yard.solr.multiYardIndexLayout=B"false"
service.factoryPid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard"
org.apache.stanbol.entityhub.yard.solr.solrUri="dbpedia"
org.apache.stanbol.entityhub.yard.solr.useDefaultConfig=B"false"
org.apache.stanbol.entityhub.yard.id="dbpediaIndex"
