service.bundleLocation="slinginstall:org.apache.stanbol.entityhub.yard.solr-0.12.0-SNAPSHOT.jar"
service.pid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.49a564a3-6a51-4039-9be9-c1ba2671c5f1"
org.apache.stanbol.entityhub.yard.defaultQueryResultNumber=I"-1"
org.apache.stanbol.entityhub.yard.solr.immediateCommit="true"
org.apache.stanbol.entityhub.yard.solr.configName="entityhub.solrindex.zip"
org.apache.stanbol.entityhub.yard.solr.solrUri="entityhub"
service.factoryPid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard"
org.apache.stanbol.entityhub.yard.id="entityhubYard"
org.apache.stanbol.entityhub.yard.description="The\ Yard\ used\ by\ the\ Entityhub\ to\ store\ the\ data"
org.apache.stanbol.entityhub.yard.solr.multiYardIndexLayout="false"
org.apache.stanbol.entityhub.yard.maxQueryResultNumber=I"-1"
org.apache.stanbol.entityhub.yard.name="Entityhub\ Yard"
org.apache.stanbol.entityhub.yard.solr.maxBooleanClauses=I"1024"
org.apache.stanbol.entityhub.yard.solr.useDefaultConfig="true"
